coverage==6.5.0; python_version>'3.7'
coveralls==3.3.1; python_version>'3.7'
jupyter==1.0.0; python_version>'3.7'
numba==0.56.4; python_version>'3.7'
numpy==1.22.4; python_version>'3.7'
matplotlib==3.7.1; python_version>'3.7'
pandas==1.5.2; python_version>'3.7'
uproot==4.3.5; python_version>'3.7'
uproot3==3.14.4; python_version>'3.7'
scipy==1.10.0; python_version>'3.7'
pyarrow==10.0.1; python_version>'3.7'
fastparquet==2022.12.0; python_version>'3.7'
awkward==2.0.5; python_version>'3.7'
tqdm==4.64.1; python_version>'3.7'
pytest==7.2.0; python_version>'3.7'
pytest-cov==4.0.0; python_version>'3.7'
pytest-forked==1.4.0; python_version>'3.7'
pytest-runner==6.0.0; python_version>'3.7'
pytest-xdist==3.1.0; python_version>'3.7'
pytest_notebook==0.8.1; python_version>'3.7'
nbconvert==7.2.7; python_version>'3.7'
nbmake==1.2.1; python_version>'3.7'

jupyter==1.0.0; python_version<='3.7'
jinja2==3.0; python_version<='3.7'
numba==0.53.1; python_version<='3.7'
numpy==1.19.5; python_version<='3.7'
matplotlib==3.3.4; python_version<='3.7'
pandas==1.1.5; python_version<='3.7'
uproot==4.3.7; python_version<='3.7'
uproot3==3.14.4; python_version<='3.7'
scipy==1.5.4; python_version<='3.7'
pyarrow==6.0.1; python_version<='3.7'
fastparquet==0.8.0; python_version<='3.7'
awkward==1.9.0; python_version<='3.7'
tqdm==4.64.1; python_version<='3.7'
coverage==6.2; python_version<='3.7'
coveralls==3.3.1; python_version<='3.7'
nbmake==1.2.1; python_version<='3.7'
pytest==7.0.1; python_version<='3.7'
pytest-cov==4.0.0; python_version<='3.7'
pytest-forked==1.4.0; python_version<='3.7'
pytest-notebook==0.6.1; python_version<='3.7'
pytest-runner==5.3.2; python_version<='3.7'
pytest-xdist==3.0.2; python_version<='3.7'
